.DS_Store
.stack-work/
/.ci/
stack-ghc-*.yaml.lock

dist-newstyle/

.yarnrc.yml
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules/

/graphql-client/js/graphql-codegen-haskell.js
