.DS_Store

.stack-work/
stack-ghc-*.yaml.lock

cabal.project.local*
dist-newstyle/

.yarnrc.yml
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules/

/graphql-client/js/graphql-codegen-haskell.js
